* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jaro", sans-serif;
  text-decoration: none;
  font-size: 10px;
  font-weight: 400;
  list-style: none;
  border: none;
}

#modal-container {
  width: 100vw;
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: absolute;
}

.hidden {
  display: none;
}

#background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #1e1e1e;
  opacity: 0.9;
  z-index: 98;
}

#pop-up-container {
  display: flex;
  flex-direction: column;
  max-width: 45.3rem;
  max-height: 22.8rem;
  width: 90%;
  height: 90%;
  padding: 4rem 9.6rem;
  background-color: #fff;
  position: relative;
  opacity: 1;
  z-index: 99;
  border: 0.8rem #1e1e1e solid;
}

#close-button {
  position: absolute;
  top: 0;
  right: 0;
}

#pop-up-container p {
  font-size: 7.2rem;
}

header {
  display: flex;
  padding: 4rem 12.4rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header h1 {
  font-family: Jaro;
  font-weight: 400;
  font-style: Regular;
  font-size: 7.2rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

header img {
  width: 51px;
  height: 52px;
}

#stick-container {
  position: relative;
}

#stickman-img {
  position: absolute;
  top: 31%;
  left: 93.5%;
  transform: translateX(-50%); /* Ajusta para centralizar corretamente */
}

#game-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 6rem;
}

#word-container {
  display: flex;
  gap: 0.8rem;
}

#word-container p {
  font-size: clamp(2rem, 4vw, 5rem);
}

.letter {
  border-bottom: clamp(0.6rem, 1.2vw, 1.1rem) #1e1e1e solid;
  text-align: center;
  width: clamp(3.6rem, 8vw, 7.2rem);
  height: clamp(3.6rem, 8vw, 7.2rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.win {
  background-color: chartreuse;
  border-bottom: clamp(0.6rem, 1.2vw, 1.1rem) rgb(82, 161, 2) solid;
}

.loose {
  background-color: crimson;
  border-bottom: clamp(0.6rem, 1.2vw, 1.1rem) rgb(139, 16, 41) solid;
}

#line-01,
#line-02 {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

#line-01 {
  margin-top: 6rem;
  margin-bottom: 0.8rem;
}

.keyboard-letter {
  font-size: 5rem;
  line-height: 100%;
  border: 0.8rem #1e1e1e solid;
  max-width: 7.2rem;
  max-height: 7.2rem;
  height: 100%;
  width: 100%;
  text-align: center;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button:disabled {
  background-color: #a3a3a3;
  color: #c3c3c3;
  border: 0.8rem #c3c3c3 solid;
}

#close-button {
  background-color: #e1d9d9;
}

#close-button:hover {
  background-color: #e26666;
}

#restart-button.rotating {
  animation: rotate 0.7s ease forwards;
}

#pause-button {
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
