* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  background-color: #f5f5f5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 36.9rem;
  width: 100%;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}

form header img {
  width: 5rem;
  height: 4rem;
}

section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-width: 36.9rem;
  max-width: 100%;
}

#cep-input {
  grid-column: 1 / -1;
}

#rua-input {
  grid-column: 1 / 3;
}

#bairro-input {
  grid-column: 3 / 4;
}

#numero-input {
  grid-column: 4 / -1;
}

#complemento-input {
  grid-column: 1 / -1;
}

#cidade-input {
  grid-column: 1 / 3;
}

#estado-input {
  grid-column: 3 / -1;
}

input {
  padding: 0.8rem;
  border: 0.15rem #ccc solid;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #5c5c5c;
}

input::placeholder {
  color: #bfbcbc;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
  border-radius: 1.5rem;
  max-width: 44.9rem;
  width: 90%;
  background-color: #fff;
  gap: 4rem;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}

form h1 {
  color: #18e395;
}

#submit-button {
  align-self: flex-end;
}

input:disabled {
  background-color: #e8e8e8;
}

button {
  cursor: pointer;
  background-color: #18e395;
  border: none;
  padding: 1.2rem 1.6rem;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 0.2rem;
}

button:hover {
  opacity: 0.8;
}
