html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #191f28;
  padding: 2rem;
  width: 700px;
  height: 400px;
  border-radius: 12px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

h1 {
  margin: 0.5rem;
}

#Title-Container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 1.5rem;
}

#Input-Container {
  display: flex;
  gap: 15px;
  padding: 10px;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

input {
  width: 100%;
  padding: 12px 24px;
  border: none;
  background-color: #343b47;
  border-radius: 5px;
  color: #696d75;
}

section#tasks {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Check-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 3px;
  width: 18px;
  height: 18px;
}

.Check-Button:hover {
  cursor: pointer;
}

#Task-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}

.checked {
  #Task-text {
    text-decoration: line-through;
  }
  #check-icon {
    display: block;
  }
}

#check-icon {
  display: none;
}

.Task-Card {
  animation: animation 0.5s;
  opacity: 1;
  transition: opacity 0.5 ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  border-bottom: 2px solid #24395d;
}

.Task-Card:last-child {
  border-bottom: none;
}

#Task-Name {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 1.1rem;
}

#Submit-Button {
  border: none;
  border-radius: 5px;
  background-color: #24395d;
  color: #fff;
  padding: 0 2rem;
}

#Submit-Button:hover,
.Edit-Button:hover,
.Delete-Button:hover {
  cursor: pointer;
}

#Task-Options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Edit-Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 4px;
  background-color: #24395d;
  color: #fff;
  padding: 0.5rem;
}

.Delete-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c31717;
  color: #fff;
  gap: 5px;
  border: none;
  border-radius: 8px;
  padding: 0.3rem 0.7rem;
}

#alert {
  animation: animation 0.5s ease;
  opacity: 1;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 70px;
  padding: 1rem 1.2rem;
  min-width: 200px;
  border-radius: 12px;
  color: #fff;
  font-weight: 600;
}

.blue {
  background-color: #24395d;
  border: 2px solid #6dc4f0;
}

.red {
  background-color: #c31717;
  border: 2px solid #e46b6b;
}

@keyframes animation {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes deleteFadeOut {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}
